/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #64656d;
  --incoming-chat-border: #444654;
}

.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3;
}

body {
  background: var(--outgoing-chat-bg);
}

/* Chats container styling */
.chat-container-main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.chat-container {
  overflow-y: auto;
  flex-grow: 1;
  height: calc(100vh - 132px) !important;
  /* padding-bottom: 0; */
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}

.chat .chat-details img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}

.chat .chat-details p {
  white-space: pre-wrap;
  padding: 0 50px 0 25px;
  word-break: break-word;
}

.chat .chat-details p.error {
  color: #e55865;
}

.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.7;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
  margin-left: 0;
}

@keyframes animateDots {
  0%, 44% {
    transform: translateY(0px);
  }

  28% {
    opacity: 0.4;
    transform: translateY(-6px);
  }

  44% {
    opacity: 0.2;
  }
}

.copy-content {
  color: #555 !important;
}

/* Typing container styling */

.typing-textarea textarea {
  resize: none;
  max-height: 250px;
}

.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-content span {
  width: 55px;
  /* height: 55px; */
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: visible;
}

.typing-textarea textarea:valid~span {
  visibility: visible;
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea {
  position: relative;
  /* to ensure absolute positioning inside it works properly */
}

#chat-input {
  padding-right: calc(20px + 32px);
  /* Assuming 32px is the width of the send button + margin */
}

#send-btn {
  position: absolute;
  right: 1px;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
  z-index: 10;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

#customFileButton, #attachment-btn {
  top: 50%;
  z-index: 10;
  height: 40px;
  width: 40px;
  right: 70px;
  position: absolute;
  transform: translateY(-50%);
}

#attachment-btn {
  right: 36px;
}

/* side bar */
.menu-list-wrap:hover .menu-list-btn-wrap {
  display: block;
}

.hide-sidbar-btn {
  transform: rotate(180deg);
}

.sidebar-wrapper {
  scrollbar-width: none;
  transition-duration: 0.4s;
  z-index: 9999;
}

.sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.sidebar-wrapper-position {
  margin-left: -256px;
}

.display-btn-sidbar {
  display: none;
}

/* Reponsive Media Query */
@media screen and (max-width: 776px) {
  .sidbar-responsive {
    margin-left: -256px;
  }

  .display-btn-sidbar {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 0.95rem !important;
  }

  .chat-container {
    height: 100%;
    padding-bottom: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
  }

  .chat-container .chat {
    padding: 20px 10px;
  }

  .chat-container .chat img {
    height: 32px;
    width: 32px;
  }

  .chat-container .chat p {
    padding: 0 20px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 10px;
  }

  .typing-textarea textarea {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }

  .typing-content span {
    height: 45px;
    width: 45px;
    margin-left: 5px;
  }

  span.material-symbols-rounded {
    font-size: 1.25rem !important;
  }
}


input[type="file"] {
  display: none;
}


/* Gorazd CSS */

@media only screen and (max-width: 768px) {
  body {
    max-height: 100dvh;
    overflow: hidden;
  }

  body .chat-container-main {
    min-height: 100dvh !important;
  }

  .sidebar-gorazd {
    max-height: 90dvh;
  }

  .sidebar-wrapper{
  }

  .sidebar-wrapper>div:last-child{
    margin-bottom: 20px;
    position: relative;
    z-index: 300;
    opacity: 1;
    display: flex;
  }

  #elements-in-action-buttons{
    gap: 10px!important;
  }

  #buyButton, #elements-in-action-buttons>p:nth-child(3), #buttonFeedback, #buttonShareChat{
    width: calc(50% - 5px)!important;
  }

  #elements-in-action-buttons>p:nth-child(3)>span{
    width: 100%;
  }
}
